/*-----PRACTICE 01-UNPAS-----*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS RESET BY ERIC
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----PRACTICE 01-UNPAS-----*/

body {
	/*a px/b px. a adalah ukuran font, b adalah line height*/
	font: 12px/20px montserrat, sans-serif;
	background-color: #eaeaea;
	color: #111111;
}

.container{
	margin: auto;
	width: 900px;
	background-color: #ffffff;
}

.header {
	padding: 40px 40px 15px;
}

.header .judul {
	font-size: 40px;
	font-weight: bold;
	color: #0f5428;
}

.header ul li {
	display: inline-block;
	margin-top: 33px;
	margin-right: 17px;
}

.header a {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #00270e;
	padding: 5px 3px 5px;
}

.header a:hover {
	background-color: #b2d665;
	color: #008e32;
}

.header a:active {
	color: #5d8521;
}

.hero {
	background-image: url(img/hero.jpg);
	background-size: cover;
	width: 100%;
	height: 316px;
/*	background-position: 0 -20px;*/
	/*0 adalah sumbu x, -20 adalah sumbu y*/
}

.hero p {
	opacity: 0.7;
	color: #fafafa;
	font-size: 80px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	line-height: 316px;
	letter-spacing: 10px;
	/*line height diatur sama dengan ukuran tinggi gambar/BG
	agar teks tetap stay ditengah, walaupun ukurannya dirubah*/
}


.content {
	padding: 40px;
}

.content h2 {
	font-weight: bold;
	font-size: 19px;
}

.meta-content {
	font-size: 8px;
	color: grey;
	font-style: italic;
}

.meta-content a {
	text-decoration: none;
	color: darkgreen;
	font-weight: bold;
}

.footer {
	background-color: grey;
	padding: 10px;
}

.footer	.footer-text {
	text-align: center;
	color: darkgrey;
	font-weight: bold;
	font-style: italic;
}